/* #region common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --bg-color-light:#B4D0E7;
    --bg-color-dark:#000000;
    --white:#FFFFFF;
    --btn-color:#0061FF;
    --btn-color-lighter:#0093CE;
    --text-color-shade:#474545;
    --banner-purple:#61082B;
    --banner-lightgreen:#A2D39B;
    --banner-danger:#fF1C1C;
    --banner--danger-dark:#d5001F;
    --banner--primary-dark:#0D2481;
    --banner--alert:#FFD830;
    --banner-lightgrey: #F5F5F5;
}
body{
    font-family: 'Familjen Grotesk', sans-serif;;
}
.container{
    width: 60%;
    margin: 0 auto;
}

h1{
    font-size:4.5rem;
}
p{
    font-size: 0.8rem;
}
i{
    padding-right: 0.25rem;
}
img{
    max-width:100%;
}

.buy, .teams_title a{
    color:var(--btn-color);
}
/* #endregion common rules */

/* #region utility */

.d-flex{
    display: flex;
}
.col-4{
    width:calc((100% / 12) * 4);
}

.col-6{
    width:calc((100% / 12) * 6);
}

.col-8{
    width:calc((100% / 8) * 8);
}

.btn{
    background-color: var(--btn-color);
    color:var(--white);
}

.space_section{
    margin-top:8rem;
}
/* #endregion utility */

/* #region header */
header{
    padding:1rem;
    position:fixed;
    width:100%;
    background-color: var(--white);
    z-index:101;
}
header::after {
    content: "";
    clear: both;
    display: table;
  }
header .d-flex{
    justify-content: space-between;
}
header img{
    width:10%;
    vertical-align: middle;
}

header a{
    margin: 0 0.95rem;
    text-decoration: none;
    color:var(--text-color-shade);
}

header .col-6.d-flex{
    justify-content: flex-end;
}

header a.btn{
    margin-left: 0;
    padding: 0.25rem 0.5rem;
}

header a:hover{
    border-bottom: 1px solid black;
}
/* #endregion header */

/* #region main */

/* jumbo_tron section */
.jumbo_tron{
    background-color: var(--bg-color-light);
    padding-top:3rem;
}
.jumbo_tron h1{
    padding-top:3rem;
    padding-bottom:2rem;
    font-weight: bold;
}
.jumbo_tron img{
    width:70%;
    position: absolute;
    top:0;
    right:0;
    z-index: 100;
}
.jumbo_tron .row.d-flex{
    position: relative;
}
.jumbo_tron p{
    margin-bottom:1.8rem;
}
.annull{
    margin-top:1.5rem;
    margin-bottom:4rem;
}
.jumbo_tron i{
    font-size:2.5rem;
    padding-bottom: 1rem;
}
.jumbo_tron .btn{
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}
section.jumbo_tron{
    margin-bottom: 8rem;
}

/* /.jumbo_tron section */

/* business_plans section */
main > .container{
    width:50%;
}
.business_plans h2{
    margin-bottom:2.7rem;
}
.business_plans_alternatives{
    margin-bottom:2rem;
}
.business_plans .row{
    gap:1.5rem;
}
#month{
    margin-right:2rem;
}
input+div{
    display: inline-block;
}
input[type]{
    vertical-align: middle;
}
.card{
    border:0.1rem solid lightgray;
}
.business_plan_header{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid lightgray;
}
.business_plan_title div:last-child, hr{
    opacity: 0.5;
}
.business_plan_header > div{
    display: inline-block;
}
.business_plan_title div, .business_plan_features div{
    margin-top: 1rem;
}
.business_plan_content{
    padding: 0 1.3rem;
}
.business_plan_content > div{
    margin:2rem 0;
}
.business_plan_features > div, .highlights > div{
    display: flex;
    align-items: baseline;
}

.free_trial{
    margin-top: 1rem;;
}
.free_trial .btn{
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
}
.free_trial div{
    margin-top:2.5rem;
    margin-bottom: 2rem;
}
.highlights{
    margin-top:3rem;
}
.highlights h4{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.highlights div{
    margin-top:1rem;
}
.highlights i{
    color: var(--btn-color);
}
hr{
    width:15%;
}

div.cta{
    margin-top:3rem;
    border:0.1rem solid lightgray;
}
.cta > div:first-child{
    text-align: center;
    border-bottom:0.1rem solid lightgray;
    padding: 0.5rem 0;
}
.cta .sales_contact{
    padding:2rem;
}
.cta .btn{
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
}
.cta h3{
    margin-bottom:1rem;
}
.cta h3+div{
    margin-bottom:3rem;
}
/* ./business_plans section */

/* partner section */
.partner .d-flex{
    gap:3rem;
    align-items: center;
}
.partner p{
    margin-top: 1.5rem;
    margin-bottom: 2.2rem;
}
.partner a{
    text-decoration: none;
    border:1px solid black;
    padding: 0.7rem;
    color:var(--text-color-shade)
}
/* ./partner section */

/* features section */
.features .d-flex{
    column-gap:3rem;
}
.features .row:first-of-type{
    margin-bottom:3rem;
}
.features h2{
    margin-bottom: 3rem;
}
.features h3{
    margin-bottom: 2rem;
}
/* ./ features section */

/* teams section */

.teams_title{
    margin-top: 7rem;
}
.teams_title h2{
    margin-bottom:2.5rem;
}
.teams_banner .col-6 img{
    aspect-ratio: 1/1;
    padding:5rem;
    filter:invert(1);
}
.teams_banner .col-4.center{
    padding:3rem;
    background-color: var(--banner-lightgrey);
}
.center_banner{
    margin-bottom:3rem;
}
blockquote{
    margin-top:2rem;
    margin-bottom:2rem;
}
#university_florida img{
    object-fit: contain;
}
/* img_background */
#designit{
    background-color: var(--banner-lightgreen);
    border: 10px solid #D1E9CD;
}
#university_arizona{
    background-color: var(--banner-purple);
}
#university_florida{
    background-color: var(--btn-color-lighter);
    object-fit: contain;
}
#topps{
    background-color: var(--banner-danger);
}
#world_bicycle{
    background-color: var(--banner--danger-dark);
}
#hearst_corp{
    background-color: var(--btn-color-lighter);
}
#lonely_planet{
    background-color: var(--banner--primary-dark);
}
#clear_channel{
    background-color: var(--banner--alert);
}
/* /. teams section */

/* free_trial section */
section.trial_period{
    background-color: var(--bg-color-light);
    padding-top:7rem;
    padding-bottom:6rem;
}
.trial_period h2{
    color:var(--banner-purple);
}
.trial_period .d-flex{
    align-items: center;
    justify-content: space-between;
}
.trial_period a{
    text-decoration: none;
    background-color: var(--white);
    color:var(--black);
    padding: 0.4rem 2rem;
}
.trial_period h2+div{
    padding-right:2rem;
}
/* /. free_trial section */

/* faq section */
section.faq h2{
    margin-bottom:2.5rem;
}
section.faq .d-flex{
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    border-top:0.1rem solid lightgray;
    border-bottom:0.1rem solid lightgray;
}
section.faq div:last-child{
    margin-bottom:6rem;
}
/* /.faq section */
/* #endregion main */

/* #region footer */
footer{
    padding-top: 5rem;
    background-color: var(--bg-color-dark);
    color:var(--white);
}
footer .d-flex{
    justify-content: space-between;
}
footer h4{
    margin-bottom: 1.7rem;
}
footer .column > div{
    margin-bottom:1.3rem;
}
footer hr{
    margin-top:5rem;
    margin-bottom:3rem;
    width:10%;
}

footer .container > div:last-child{
    color:grey;
    display: flex;
    padding-bottom: 3rem;
    align-items: baseline;
}

footer .container > div:last-child span{
    padding: 0 0.6rem;
}
#world{
    padding:0;
}
/* #endregion footer */

