/* #region common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --clr-primary:#0061FF;
    --clr-primary-dark:#0D2481;
    --clr-primary-light:#0093CE;
    --clr-bg-light:#B4D0E7;
    --clr-bg-dark:#000000;
    --clr-white:#FFFFFF;
    --clr-text-dark:#474545;
    --clr-danger:#fF1C1C;
    --clr--danger-dark:#d5001F;
    --clr-danger-shade:#61082B;
    --clr-success:#A2D39B;
    --clr-success-light: #F5F5F5;
    --clr--alert:#FFD830;

    --fs-lg: 4.375rem;
    --fs-md: 2.25rem;
    --fs-small:1.25rem;
    --fs-xs: 0.90rem;
}
i{
    padding-right: 0.25rem;
}
img{
    max-width:100%;
}

h1{
    font-size: var(--fs-lg);
}
h2{
    font-size: var(--fs-md);
}
h3{
    font-size: var(--fs-small);
}
p, a, span, .annull, .business_plans input+div, .business_plans .cta strong, .sales_contact .col-8 div:last-child, .teams_banner blockquote, .faq strong, h4, footer div.column > div {
    font-size: var(--fs-xs);
}
/* #endregion common rules */

/* #region utility */
.container-lg{
    width: 60%;
    margin: 0 auto;
}
.container-sm{
    width:50%;
    margin:0 auto;
}
.d-flex{
    display: flex;
}
.col-4{
    width:calc((100% / 12) * 4);
}
.col-6{
    width:calc((100% / 12) * 6);
}
.col-8{
    width:calc((100% / 8) * 8);
}
.btn-primary{
    background-color: var(--clr-primary);
    color:var(--clr-white);
    padding: 0.4rem 0.9rem;
    text-decoration: none;
}
.btn-lighter{
    text-decoration: none;
    background-color: var(--clr-white);
    color: var(--clr-bg-dark);
    padding: 0.4rem 2rem;
}
.py-section{
   padding-top:8rem;
}
.row-gap{
    gap:2rem;
}
.bordered{
    border:0.1rem solid lightgray;
}
/* #endregion utility */

/* #region header */
header{
    padding:1rem;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background-color: var(--clr-white);
    z-index:101;
}
header img{
    height:20px;
}
header a{
    margin: 0 0.95rem;
    text-decoration: none;
    color:var(--clr-text-dark);
    font-size: var(--fs-xs);
}
header .col-6.d-flex{
justify-content: flex-end;
align-items: baseline;
}
header a.btn{
    margin-left: 0;
    padding: 0.25rem 0.7rem;
}
/* #endregion header */

/* #region main */

.jumbo_tron{
    background-color: var(--clr-bg-light);
}
.jumbo_tron h1{
    padding-bottom:2rem;
}
.jumbo_tron img{
    margin-bottom:-5rem;
}
.jumbo_tron p{
    margin-bottom:1.8rem;
}
.annull{
    margin-top:1.5rem;
}
.jumbo_tron i{
    font-size:2.5rem;
    padding-bottom: 0.8rem;
    position: absolute;
    left:0;
    bottom:0;
}
.jumbo_tron .container-lg .row > .col-4{
    position: relative;
}
section.jumbo_tron{
    margin-bottom: 8rem;
}
/* /.jumbo_tron section */

.business_plans h2{
    margin-bottom:2.7rem;
}
.business_plans_alternatives{
    margin-bottom:2rem;
}
#month{
    margin-right:2rem;
}

.business_plans input{
    margin-right:0.2rem;
}

.business_plan_header{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom:0.1rem solid lightgray;
}
.business_plan_title div:last-child, hr{
    opacity: 0.5;
}
.business_plan_header > div{
    display: inline-block;
}
.business_plan_title div, .business_plan_features div{margin-top: 1rem;
}
.business_plan_content{
    padding: 0 1.3rem;
}
.business_plan_content > div{
    margin:2rem 0;
}
.business_plan_features > div, .highlights > div{
    display: flex;
    align-items: baseline;
}
.free_trial{
    margin-top: 1rem;;
}
.free_trial .btn-primary{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.free_trial div{
    margin-top:2.5rem;
    margin-bottom: 2rem;
}
.free_trial .buy{
    color:var(--clr-primary);
}
.highlights{
    margin-top:3rem;
}
.highlights h4{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.highlights div{
    margin-top:1rem;
}
.highlights i{
    color: var(--clr-primary);
}
hr{
    width:15%;
}
/* /.business_plans section */
div.cta{
    margin-top:3rem;
}
.cta > div:first-child{
    text-align: center;
    border-bottom:0.1rem solid lightgray;
    padding: 0.5rem 0;
}
.cta .sales_contact{
    padding:2rem;
}
.cta .btn{
    text-decoration: none;
    padding:0.5rem 1.5rem;
}
.cta h3{
    margin-bottom:1rem;
}
.cta h3+div{
    margin-bottom:3rem;
}
/* /. business_plans section  */

.partner .d-flex{
    align-items: center;
}
.partner p{
    margin-top: 1.5rem;
    margin-bottom: 2.2rem;
}
.partner a{
    border:1px solid black;
}
/* ./partner section */
.features h2, .features .row:first-of-type, .features h3{
    padding-bottom: 2rem;
}
/* ./ features section */

.teams_title h2{
    margin-bottom:2.5rem;
}
.teams_banner .col-6 img{
    aspect-ratio: 1/1;
    padding:5rem;
    filter:invert(1);
}
.teams_banner .col-4.center{
    padding:3rem;
    background-color: var(--clr-success-light);
}
.center_banner{
    margin-bottom:3rem;
}
.center_banner img{
    padding-right:15rem;
}
blockquote{
    margin-top:2rem;
    margin-bottom:2rem;
}
#university_florida img{
    object-fit: contain;
}
/* img_background */
#designit{
    background-color: var(--clr-success);
    border: 10px solid #D1E9CD;
}
#university_arizona{
    background-color: var(--clr-danger-shade);
}
#university_florida{
    background-color: var(--clr-primary-light);
    object-fit: contain;
}
#topps{
    background-color: var(--clr-danger);
}
#world_bicycle{
    background-color: var(--clr--danger-dark);
}
#hearst_corp{
    background-color: var(--clr-bg-light);
}
#lonely_planet{
    background-color: var(--clr-primary-dark);
}
#clear_channel{
    background-color: var(--clr--alert);
}
/* /. teams section */

section.trial_period{
    background-color: var(--clr-bg-light);
    padding-top:7rem;
    padding-bottom:6rem;
}
.trial_period h2{
    color:var(--clr-danger-shade);
}
.trial_period .row{
    align-items: baseline;
}
.trial_period a{
    padding-left: 2rem;
}

/* /. free_trial section */

section.faq h2{
    margin-bottom:2.5rem;
}
section.faq .d-flex{
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    border-top:0.1rem solid lightgray;
    border-bottom:0.1rem solid lightgray;
}
section.faq div:last-child{
    margin-bottom:6rem;
}
/* /.faq section */
/* #endregion main */

/* #region footer */
footer{
    background-color: var(--clr-bg-dark);
    color:var(--clr-white);
}
footer .d-flex{
    justify-content: space-between;
}
footer h4{
    margin-bottom: 1.7rem;
}
footer .column > div{
   margin-bottom:1.1rem;
}
footer hr{
    margin-top:5rem;
    margin-bottom:3rem;
    width:10%;
}

footer .container > div:last-child{
    color:grey;
    display: flex;
    padding-bottom: 3rem;
    align-items: baseline;
}

footer .container > div:last-child span{
    padding: 0 0.6rem;
}
#world{
    padding:0;
}
/* #endregion footer */

